* {
    box-sizing: border-box;
    user-select: none;
    transition: 0.5s;
}
body {
    background-color: #f5f5f5;
    color: #444;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
}
.app {
    padding-top: 100px;
}
img {
    display: block;
    margin: auto;
    width: 50%;
}
.form {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    max-width: 100%;
    width: 400px;
    margin-top: 50px;
}
.input {
    border: none;
    outline: none;
    padding:  10px 20px;
    font-size: 16px;
    display: block;
    width: 100%;
    color: #444;
    background-color: #fff;
}
.input::placeholder {
    color: #d5d5d5;
}
.todos {
    padding: 0px;
    margin: 0px;
    list-style-type: none; 
    background-color: #fff;
}
.todos li {
    border-top: 1px solid #e5e5e5;
    padding: 12px 12px 12px 16px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 55px;
}
.todos li:hover .close {
    opacity: 1;
    color:red;
}
.completed {
    color: #d5d5d5;
    text-decoration: line-through;
    transition:  0.5s;
}
.toggle {
    
    height: 24px;
    border: 1px solid seagreen;
    border-radius: 100%;
    padding: 1px 4.5px 2px 4.5px;
    color: white;
    margin-right: 15px;
}
.after {
    transition:  0.5s;
    color: seagreen;
}
.edit {
    resize: none;
    margin: -7px;
	width: 100%;
	font-size: 16px;
	font-family: inherit;
	font-weight: inherit;
	line-height: 1em;
	border: 0;
	color: inherit;
	padding: 6px;
	border: 1px solid seagreen;
    box-shadow: inset 0 -1px 5px 0 rgba(46, 139, 87, 0.2);
    outline: seagreen;
    height: 30px;
    overflow: hidden; /* Hide scrollbars */
}
.todoText {
    display: inline;
    width: 300px;
    word-break: break-all;

}
.close {
   margin-left: 25px;
    opacity: 0;
}